@import url('https://fonts.googleapis.com/css?family=Orbitron');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  height: 110vh;
  font-family: 'Lato', 'Orbitron', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* background-color: #1A2225; */
}

body {
  background: url(/img/bg.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

*, *:before, *:after {
  color: white;
  text-decoration: none;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  }

/* HERO IMAGE TEXT */
.intro-text-wrap {
  height: 100vh;
  display: block;
}

.intro-text-wrap h1 {
  /* margin: 0 auto; */
  letter-spacing: .15em; /* .15em */
  /* white-space: nowrap; */
  border-right: .10em solid #75af65;
  overflow: hidden;
  animation: 
    /* typing 3.5s steps(40, end), */
    blink-caret .75s step-end infinite;
}
/*
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
*/
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #75af65; }
}

.intro-text {
  width: 95vw;
  line-height: 120%;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem; /* 4.5rem */
  /* color: #75af65; //blinking cursor color */
  text-align: right;
  margin-top: 100px; /* 50px */
  word-wrap: break-word;
}

.typewriter-row-01-02 {
  width: 100vw;
  height: 22vh;
  margin-left: -25px;
  margin-bottom: 50px;
  background: url(/img/bg.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.typewriter-row-01-02 h1 {
  /* padding-right: 50px; */


}

.typewriter-row-01-02 span {
  /* width: 10px; */
  /* margin-right: 15%; */
  /*
  letter-spacing: .15em;
  border-right: .10em solid #75af65;
  overflow: hidden;
  animation:
    blink-caret .75s step-end infinite;
  */
}




.last-project-row {
  margin-bottom: -100px;
}

/* MAIN SECTION */
.header-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid #75af65; */
}

.header-h1 {
  font-size: 3rem;
  line-height: 3rem;
  color: #75af65;
}

/* ------------ */

.main-content {
  line-height: 1.5rem;
  font-size: 1rem;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color: #1A2225;
}

.p-indented {
  text-indent: 1.2em;
  padding-bottom: 15px;
}

.project-row {
  height: 770px;
  /* margin-bottom: 50px;; */
  /* border-bottom: 1px solid #75af65; */
}

.thumbnail-description {
  min-width: 200px;
  padding-left: 20px;
  text-align: left;
}

.thumbnail-img-container {
  min-width: 10vw;
  /* max-width: 500px; */
  max-width: 100%;
  position: relative;
  text-align: center;
}

.img-thumbnail {
  width: 100%;
  min-width: 265px;
  /* max-width: 500px; */
  height: auto;
  margin: 0 auto;
}

.overlay-img {
  text-align: center;
}

.overlay {
  width: 0;
  /* max-width: 500px; */
  max-width: 99.9%;
  height: 100%;
  /* left: 0%; */
  /* right: 0%; */
  bottom: 0;
  background-color: black;
  overflow: hidden;
  transition: .5s ease-in-out;
  opacity: 0.9;
  position: absolute;
}

.thumbnail-img-container:hover .overlay {
  width: 100vw;
  cursor: crosshair;
}

.text {
  font-size: 20px;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
  position: absolute;
}

/* FOOTER SECTION */
.footer-section {
  height: 165px;
  /* background-image: linear-gradient(#1A2225, #75af65); */
  background-color: #1A2225;
}

.about-column {
  height: 100px;
  background-color: goldenrod;
}

.contact-column {
  height: 100px;
  background-color: slategray;
}

.media-column {
  height: 100px;
  background-color: steelblue;
}

.footer-column {
  padding: 5px 25px 125px 25px;
  line-height: 1.3rem;
}

.copyright {
  height: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 0.7rem;
  background-color: #1A2225;
}

/* LARGER SCREENS 1024/1190/1200 */
@media screen and (min-width: 769px) {
  .intro-text {
    font-size: 6rem;
  }

  .last-project-row {
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1025px) {
  .project-row {
    height: 325px;
  }

  .last-project-row {
    margin-bottom: -150px;
  }
}

@media screen and (min-width: 1180px) {
  .last-project-row {
    margin-bottom: -25px;
  }
}